.v-application .list-group {
    list-style: none;
    padding-left: 0;
}
.list-group-item {
    padding: 0;
    display: flex;
    border : 1px solid #ccc;
    border-radius: 5px;
    margin-top: 8px;
}
.list-group-item .handle + div {
    padding:4px; 
    display: table;
    width: 100%;
}
.list-group-item .handle + div > div {
    display: table-row;
    width: 100%;
}
.list-group-item .handle + div > div + div > div {
    border-top: 1px dashed #ccc;
}
.list-group-item .handle + div > div > div {
    display: table-cell;
    padding: 4px;
}
.list-group-item .handle + div > div > div:nth-child(1) {
    width: 20%;
}
.list-group-item .handle + div > div > div:nth-child(2) {
    width: auto;
}
.list-group-item .handle + div > div > div:nth-child(3) {
    width: 32px;
}
.list-group-item .handle + div > div > div:nth-child(4) {
    width: 36px;
}
.list-group-item .client{
    position: relative;
    top: 5px;
    left: 5px;
}
.list-group .comment {
    font-size: 0.9em;    
}

/* 드래그 메뉴 */
.menu-drag-container .menu-drag-item {position: relative;}

.menu-drag-container .menu-drag-item .icon {display: none;}

.menu-drag-container .menu-drag-subItem {margin-left: 2rem;}

.menu-drag-container .menu-drag-subItem .menu-drag-item .icon {
display: block;
position: absolute;
left: -1.75rem;
top: 1.5rem;
}

.menu-drag-container .handle {cursor: grab;}

.menu-drag-container .menu-drag-zone {padding-bottom: 1rem;}


/* 갤러리 게시판 */
.gal-item .v-image__image{
    transition: all 0.4s;
}
.gal-item:hover .v-image__image{
    transform: scale(1.2, 1.2);
    opacity: 0.8;
}

/* 스크롤바 */
::-webkit-scrollbar{width: 12px;}
::-webkit-scrollbar-track {background-color: #dee2e6;}
::-webkit-scrollbar-thumb {background-color: #495057;
    background-clip: padding-box;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;}
::-webkit-scrollbar-thumb:hover {background-color: #343a40;}